@import '../../App.scss';

.home-page {
  .text-zone {
    position: absolute;
    left: 15%;
    top: 25vh;
    width: 90%;
    max-height: 90%;

    @include responsive($med) {
      position: absolute;
      left: 9%;
      top: 50%;
      transform: translateY(-50%);
      width: 65%;
      max-height: 90%;
    }

    @include responsive($lg) {
      width: 50%;
    }
    @include responsive($xl) {
      width: 40%;
    }
  }

  h1 {
    color: $primary-color;
    font-size: 36px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    @include responsive($med) {
      font-size: 53px;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 4.5s backwards;
  }

  .flat-button {
    color: $primary-color;
    font-size: 15px;
    border: 1px solid $primary-color;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-weight: 400;
    padding: 5px 9px;
    margin-top: 10px;
    animation: fadeIn 1s 4.5s backwards;
    white-space: nowrap;
    float: left;

    @include responsive($med) {
      font-size: 13px;
      padding: 10px 18px;
      margin-top: 25px;
    }

    &:hover {
      background: $primary-color;
      color: $secondary-color;
    }
  }
}
