@import '../../App.scss';

.menu-button {
  position: fixed;
  z-index: 5;
  top: 5px;
  right: 6vw;
  visibility: visible;
  animation: fadeIn 1s forwards;

  @include responsive($med) {
    visibility: hidden;
    animation: fadeOut 1s forwards;
  }
}
